<div class="maincontent">
  <article class="article">
    <h1 class="article-title">The Story</h1>
      <p>The class of ninth-grade students from a Japanese high school are forced by a new legislation to compete in a Battle Royale. The students are each given a bag with a randomly selected weapon and a few rations of food and water and sent off to kill each other in a no-holds-barred (with a few minor rules) game to the death, which means that the students have three days to kill each other until one survives--or they all die.</p>
      <p>Each Featured Artist has an opportunity to speak at one of our meetups and share his or her vision, perspective, and techniques with attendees on a more personal level than at our large conference. It is truly an honor to be a CAC Featured Artist and many past students artists who were featured at CAC have gone on to brilliant careers in art.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Introduction</h1>
    <p>Battle Royale (バトル・ロワイアル, Batoru rowaiaru) is a film, released on December 16, 2000 in Japan. It was based on the Battle Royale novel which was released on April 22, 1999 in Japan. It was directed by Kinji Fukasaku, and features Takeshi Kitano and Chiaki Kuriyama. Like the novel on which it is based, it aroused much controversy. A sequel, Battle Royale II: Requiem, followed. The musical soundtrack for both films was composed by Masamichi Amano, and features pieces of real classical music with some original composition.Fukasaku has stated that the novel reminded him of his time as a 15-year old munitions factory worker, so he decided to create the film adaptationyou can also <a href="https://en.wikipedia.org/wiki/Battle_Royale"> to leran more</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Will You Survive?</h1>
    <ul>
      <li>Pick Your Students!</li>
      <li>Check Your Weapons!</li>
      <li>Colleborate Or Attack?</li>
    </ul>
  </article><!-- article -->
</div>
