<article class="sidebar">
  <h1 class="sidebar-title">Now, Who Do You Wanne Be?</h1>
  <p class="sidebar-body">Pick a student,be careful, this is your life.</p>
  <div class="pixgrid clearfix">
    <% if (weapons.length > 0) { %>
    <% for (i=0; i< b.length; i++) { %>
        <img src="/images/b/<%= b[i] %>" alt="b <%= i %>">
    <% } %>
    <% } %>
  </div>
</article>
