<article class="sidebar">
  <h1 class="sidebar-title">Trailer</h1>
  <ul class="sidebar-body">
    <iframe width="450" height="315" src="https://www.youtube.com/embed/N0p1t-dC7Ko" frameborder="0" allowfullscreen></iframe>
    <li>The Most Dangerous Game!</li>
    <li>Your Life Is The Price!!</li>
    <li>ONLY ON CAN SURVIVE!!!</li>
  </ul>
</article><!-- article -->


